[package]
name = "rs_ws281x"
version = "0.1.1"
authors = ["Joseph Murphy <air.jmurph@gmail.com>"]
license = "MIT"
description = "Wrapper for ws281x library using bindgen to track upstream"
links = "libws2811"

[build]
target = "armv7-unknown-linux-gnueabihf"

[dependencies]

[build-dependencies]
bindgen = "0.26"
gcc = "0.3"

[profile.release]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'unwind'